@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.section-1 {
    display: flex;
    justify-content: center;
    margin: 2% 6%;
    width: 1321px;
    height: 646px;


    background: #161616;
    border-radius: 30px;
}

.padding {
    padding-left: 106px;
}

h1 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    margin-bottom: 4px;


}

.top-p {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;



}

.space {
    width: 100%;
}

.space a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 187px;
    height: 56px;
    margin-top: 30px;
    text-decoration: none;
    background-color: hsl(228, 95%, 24%);

    border-radius: 5px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;


}

.space img {
    width: 95%;
    margin-top: 38.5px;
}

.list {

    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
}

.list a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}

.grid {
    display: flex;
    gap: 24px;
    margin: 2% 6%;

}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    width: calc(100% - 312px);
}

.blog img {
    width: 100%;
    margin-bottom: 5%;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #161616;

}

.icons {
    display: flex;
    gap: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(22, 22, 22, 0.7);
}

.blog a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 15px;

}

.view {
    display: none;

}

footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 444px;
    background-color: #161616;
    margin-top: 2%;
}

h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 0;

}

.info {
    padding-top: 3%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.info a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    padding: 15px;


}

.social a {
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 2em;
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .section-1 {
        width: 90%;
        height: 398px;
    }

    h1 {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        color: #FFFFFF;
        margin-bottom: 4px;


    }

    .top-p {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;

    }

    .space {
        padding-top: 2%;
        /* width: 50%; */
    }

    .space img {
        width: 88.5%;
        margin-top: 0;
    }

    .list {

        width: 312px;
        height: 312px;
        background-color: #161616;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
    }

    .list a {
        text-decoration: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #161616;
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 20px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 2% 6%
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 24px;
        width: 100%;
    }

    .hide {
        display: none;
    }

    .view {
        display: inline;
        margin: 5% auto;
        

    }

    .view a {
        padding: 12px 20px;
        text-decoration: none;
        background-color: hsl(228, 95%, 24%);

        border-radius: 5px;


        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

        color: #FFFFFF;


    }

}