@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.section-1 {
    display: flex;
    justify-content: center;

    position: absolute;
    width: 1321px;
    height: 646px;
    left: 120px;
    top: 50px;


    background: #161616;
    border-radius: 30px;
}

.padding {
    padding-left: 106px;
}

h1 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    margin-bottom: 4px;

}

.top-p {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;



}

.space {
    width: 100%;
}

.space a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 187px;
    height: 56px;
    margin-top: 30px;
    text-decoration: none;
    background-color: hsl(228, 95%, 24%);

    border-radius: 5px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;


}

.space img {
    width: 95%;
    margin-top: 38.5px;
}